video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/HOME.png') no-repeat;
    background-size: cover;
}
#page-home {
    background-size: cover;
    >header {
        img {
            width: 600px;
            margin-bottom: 40px;
        }
        background-color: rgba(0,
        0,
        0,
        0.38);
        padding-top: 20%;
        height:100%;
    }
}

#page-docu {
    background: url('../images/b2.jpg') center center fixed;
    background-size: cover;
    >header {
        background-color: rgba(0, 0, 0, 0.38);
        padding-top: 20%;
        height: 100%;
    }
}

#page-manuals {
    background: url('../images/b3.jpg') center center fixed;
    background-size: cover;
    >header {
        background-color: rgba(0, 0, 0, 0.38);
        padding-top: 10%;
        height: 100%;
        overflow-y: auto;
    }
}

#page-software {
    background: url('../images/b5.jpg') center center fixed;
    background-size: cover;
    >header {
        background-color: rgba(0, 0, 0, 0.38);
        padding-top: 10%;
        height: 100%;

    }
}

#page-custom {
    background: url('../images/b4.jpg') center center fixed;
    background-size: cover;
    >header {
        background-color: rgba(0, 0, 0, 0.38);
        padding-top: 20%;
        height: 100%;
    }
}

.menu-button::after,
.menu-button span {
    background: #FFFFFF;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
    background: #FFFFFF;
}

.info {
    font-size: 1.25em;
    max-width: 100%;
    margin-top: 1.5em;
}

.btn {
    float: right;
    margin-right: 10px;
    border-radius: 0px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: normal;
    border: 2px solid #FFF;
}

.btn:hover {
    text-decoration: none;
}

.query-buttons {
    a {
        display: inline-block;
        margin: 0.5em;
        padding: 0.7em 1.1em;
        outline: medium none;
        border: 2px solid #FFF;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:#fff;
        cursor: pointer;
    }
    a:hover{
        color:  #d6d6d6;
    }
}

.bar {
    display: flex;
    overflow-x: scroll;
    iframe {
        display: inline-block;
        padding: 0 10px;
    }
}
